.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  align-items: center;
  .logo {
    font-size: 40px;
    cursor: pointer;
    display: flex;
    position: relative;

    p {
      position: absolute;
      font-size: 10px;
      padding: 5px;
      background-color: red;
      top: 0;
      right: -15px;
    }
  }

  .password{
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 17px;
    
  }
  .items {
    display: flex;
    gap: 20px;
    align-items: center;

    span {
      font-weight: bold;
      &:nth-child(1) {
        cursor: pointer;
      }
    }

    .link {
      cursor: pointer;
      padding: 5px;
      font-size: 20px;
      border-radius: 5px;
    }
    button {
      border: none;
      cursor: pointer;
      padding: 10px;
      font-weight: bold;
      color: white;
      background-color: green;
    }
  }
}

.manage {
  background-color: white;
  height: 100px;
  width: 150px;
  position: absolute;
  right: 115px;
  top: 70px;
  border-radius: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  p {
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid rgb(212, 212, 212);
    color: black;
    &:nth-child(1){
      border: none !important;
      cursor: pointer;
    }
  }
}
